.peg, .wheelSVG {
 visibility: hidden;
}
.wheelContainer{
 width: 50%;
 height: 100%;
 margin: 0;
 padding: 0;
 float: left;
 position: relative;
}
.centerCircle, .valueContainer, .wheelOutline, .wheelText {
 pointer-events: none;
}
.toast, .wheelContainer{
 text-align: center;
}
.toast, button {
 background-color: #E81D62;
}
.wheelSVG {
 /*position: absolute;*/
 overflow: visible;
 width: 500px;
 height: 500px; 
}
.wheelText {
 text-anchor: middle;
 font-family: 'Fjalla One', Arial, sans-serif;
 -webkit-user-select: none;
 user-select: none;
}
.toast {
 border-radius: 12px;
 opacity: 0;
 position: absolute;
 top: calc(-50px + 50%);
 left: calc(-150px + 50%);
 height: 100px;
 width: 300px;
}
.toast p {
 clear: both;
 font-family: 'Fjalla One', Arial, sand-serif;
 margin: 23px;
 font-size: 18px;
 color: #ededed;
 letter-spacing: 0;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 line-height: 24px;
 -webkit-transition: line-height .2s ease;
 transition: line-height .2s ease;
}
button.spinBtn {
 width: 80%;
 max-width: 400px;
 padding: 20px;
 font-weight: 700;
 font-size: 32px;
 color: #ededed;
 border-radius: 6px;
 border: none;
 box-shadow: 0 2px 0 #D71559;
 cursor: pointer;
 font-family: "Fjalla One", Helvetica, Arial, sans-serif;
}

button:focus {
 outline: 0;
}
